@import "variables";
@import "mediaQueries";

.events {
  section {
    .banner {
      padding: 2rem;
      position: relative;
      height: fit-content;
      display: grid;
      align-items: center;
      box-shadow: $boxShadow;
      border-radius: 10px 10px 10px 1rem;
      background-color: $lighterBackground;
      grid-template-areas: "logo content content spaces";
      @media screen and (max-width: 1350px) {
        padding-right: 1rem;
        gap: 1rem 0.5rem;
        grid-template-areas:
          "logo content content content"
          "none spaces spaces spaces";
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
      }
      @include mobile {
        grid-template-areas:
          "logo content content content"
          "spaces spaces spaces spaces";
      }
      .banner_logo {
        @include center;
        width: 7rem;
        height: 7rem;
        grid-area: logo;
        border-radius: 100%;
        border: 2px solid $purpleColor;
        img {
          width: 6rem;
          height: 6rem;
          border-radius: 100%;
        }
        @include tablet {
          width: 5rem;
          height: 5rem;
          img {
            width: 4rem;
            height: 4rem;
          }
        }
        @include mobile {
          width: 4rem;
          height: 4rem;
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }
      .banner_content {
        width: fit-content;
        grid-area: content;
        a {
          @include ThreeDotsOverflow;
          height: 2rem;
          width: 100%;
          font-weight: 700;
          font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
          color: $lightHeader;
          @include mobile {
            font-size: 2.5vw;
          }
        }
        h4 {
          @include flex(center);
          margin-top: 0.75rem;
          width: 100%;
          height: 1.5rem;
          font-size: clamp(0.25rem, 1.25vw + 0.25rem, 1rem);
          font-weight: 400;
          column-gap: 0.75rem;
          color: $lighestHeader;
          @include mobile {
            margin-top: 0.25rem;
            font-size: 2.5vw;
          }
          img {
            width: 0.85rem;
          }
          span {
            @include ThreeDotsOverflow;
            color: $lightHeader;
          }
        }
        .content_details {
          @include flex(center);
          margin-top: 1rem;
          @include mobile {
            margin-top: 0.5rem;
          }
          .details_cost {
            @include flex(center, center);
            padding: 0 1.25rem;
            height: clamp(1.5rem, 1vw + 1.5rem, 2.25rem);
            border-radius: 10px;
            column-gap: 0.4rem;
            font-weight: 400;
            font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
            color: $lighterBackground;
            background-color: $orangeColor;
            span {
              font-weight: 900;
            }
            @include mobile {
              font-size: 2.25vw;
            }
          }
          .capacity {
            position: relative;
            margin-right: 2.5rem;
            font-weight: 700;
            color: $lightHeader;
            font-size: clamp(0.5rem, 1vw + 0.4rem, 1rem);
            @include mobile {
              font-size: 2vw;
            }
            &::before {
              content: "";
              position: absolute;
              inset: 50% -1.5rem auto auto;
              transform: translateY(-50%);
              width: 0.65rem;
              height: 0.65rem;
              background-color: $lighestHeader;
              border-radius: 100%;
            }
          }
        }
      }
      .banner_spaces {
        @include flex(center, space-between);
        height: 5rem;
        width: 20rem;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        overflow: hidden;
        grid-area: spaces;
        @include tablet {
          width: 15.5rem;
        }
        @include mobile {
          height: fit-content;
        }
        @media screen and (max-width: 368px) {
          margin-right: 0;
        }
        a {
          width: 4.5rem;
          height: 4.5rem;
          border: none;
          outline: none;
          overflow: hidden;
          border-radius: 10px;
          @include tablet {
            width: 3.5rem;
            height: 3.5rem;
          }
          img {
            height: 100%;
          }
          &.spaces_more {
            position: relative;
            .more_count {
              @include flex(center, center);
              position: absolute;
              inset: 0 0 auto auto;
              width: 100%;
              height: 100%;
              font-size: 0.9rem;
              font-weight: 800;
              color: $lighterBackground;
              background-color: #343434cc;
            }
          }
        }
      }
      .banner_timer {
        @include flex(center);
        position: absolute;
        padding: 0 0.5rem;
        inset: 0 auto auto 2rem;
        height: clamp(1rem, 1vw + 1rem, 1.5rem);
        column-gap: 0.5rem;
        font-weight: 500;
        color: $lighterBackground;
        background-color: #47b044;
        border-radius: 0 0 0.6rem 0.6rem;
        svg {
          width: clamp(0.5rem, 1vw + 0.5rem, 1rem);
        }
        time {
          margin-top: 0.1rem;
          font-size: clamp(0.25rem, 1vw + 0.35rem, 0.8rem);
        }
      }
      a button {
        position: absolute;
        inset: auto auto 0 0;
      }
    }
  }
}
