@import "variables";
@import "mediaQueries";

.event__comments,
.comments {
  &__header,
  .header {
    @include flex(center);
    column-gap: 0.75rem;
    height: 2.5rem;

    img {
      margin-top: -0.5rem;
      width: clamp(1.55rem, 4vw, 2.1rem);
    }
    h2 {
      font-weight: 600;
      color: $lightHeader;
      font-size: clamp(1.05rem, 3.25vw, 1.45rem);
    }
    &__count {
      margin-right: -0.25rem;
      color: $lighestHeader;
      font-weight: 400;
      font-size: clamp(0.95rem, 3.05vw, 1.25rem);
    }
  }

  &__content,
  .content {
    .comments__container {
      margin: 3.5rem 2.5% 7.5rem 2.5%;
      padding-left: 2.5%;
      width: 95%;
      @include tablet {
        margin-top: 2rem;
      }
    }
  }
}
