@import "variables";
@import "mediaQueries";

.comment__block {
  margin: 2rem 1.5rem 1rem 0;
  width: 100%;
  height: fit-content;
  @include tablet {
    padding-left: 2rem;
  }
  @include mobile {
    margin-right: 2.5vw;
  }
  .block__comment,
  .comment {
    position: relative;
    padding: 2rem 2.5rem 3.5rem 4rem;
    width: 100%;
    min-height: 17rem;
    border-radius: 1rem;
    background-color: $commentBG;
    @include mobile {
      padding: 6vw 10vw 3.5rem 3vw;
    }
    &__profile {
      @include center;
      position: absolute;
      inset: 2rem -2.5rem auto auto;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 100%;
      box-shadow: $boxShadow;
      background-color: $lighterBackground;
      img {
        width: 92.5%;
      }
      @include tablet {
        width: 4rem;
        height: 4rem;
      }
      @include mobile {
        width: 13vw;
        height: 13vw;
        inset: 6vw -7vw auto auto;
      }
    }

    &__container,
    .container {
      height: 100%;
      width: 100%;
      margin: 0 1.25rem 0 0;
      @include tablet {
        margin: 0;
      }
      $buttonHeight: clamp(1rem, 1vw + 1.5rem, 2rem);
      &__header,
      .header {
        @include flex(stretch, flex-start, column);
        width: 100%;
        row-gap: 0.75rem;
        &__data,
        .data {
          @include flex(center);
          width: 100%;
          column-gap: 0.8rem;
          flex-shrink: 1;
          @include tablet {
            column-gap: 0.5rem;
          }
          h3 {
            @include ThreeDotsOverflow;
            margin-left: 1.5rem;
            max-width: 50%;
            height: clamp(0.75rem, 1vw + 1.125rem, 2rem);
            font-size: clamp(0.75rem, 1vw + 0.75rem, 1.5rem);
            font-weight: 400;
            color: $lightHeader;
          }
          time,
          span {
            font-size: clamp(0.45rem, 1vw + 0.4rem, 1.1rem);
            color: $lighestHeader;
            @include mobile {
              font-size: 2.75vw;
            }
          }
          time {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              inset: 50% -1.5rem auto auto;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 100%;
              transform: translateY(-50%);
              background-color: $orangeColor;
            }
          }
          &__buttons {
            @include flex(center);
            column-gap: 0.5rem;
            @include tablet {
              position: absolute;
              inset: auto 2.5rem 1rem auto;
            }
            @include mobile {
              inset: auto 10vw 1rem auto;
            }
            button {
              height: $buttonHeight;
              padding: 0.5rem;
              border: none;
              outline: none;
              border-radius: 5px;
              background-color: #dddddd;
              img {
                @include center;
                height: $buttonHeight;
                width: 0.9rem;
              }
              &:last-child {
                padding: 0.5rem 0.75rem;
                color: $lightHeader;
                font-size: clamp(0.5rem, 1vw + 0.4rem, 0.9rem);
              }
            }
          }
        }
        &__position {
          @include flex(center);
          font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
          color: $lighestHeader;
          span:nth-child(2) {
            margin: 0 0.5rem;
          }
          @include mobile {
            font-size: 3vw;
          }
        }
      }
      &__text {
        margin-top: 1.5rem;
        font-size: clamp(0.65rem, 1vw + 0.6rem, 1.1rem);
        line-height: clamp(1.25rem, 2vw + 1.75rem, 2.5rem);
        color: $lighterHeader;
        @include mobile {
          font-size: 3vw;
          margin-top: 2.5vw;
        }
      }
      &__like {
        @include flex(center);
        padding: 0.4rem;
        column-gap: 0.5rem;
        position: absolute;
        inset: 1.95rem auto auto clamp(1.5rem, 0.5vw + 1.5rem, 2rem);
        height: $buttonHeight;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #dddddd;
        svg {
          width: clamp(0.75rem, 1vw + 0.5rem, 1.05rem);
          path {
            stroke: red !important;
          }
          &.like--checked {
            fill: red !important;
            animation: big-click 0.5s;
            path {
              stroke: rgb(206, 0, 0) !important;
            }
          }
          &.like--unchecked {
            fill: none !important;
            animation: big-unClick 0.5s;
            path {
              stroke: $lighterBackground;
            }
          }
        }
        span {
          height: 0.8rem;
          font-size: clamp(0.5rem, 1vw + 0.4rem, 0.9rem);
          line-height: 1rem;
          color: $lightHeader;
        }
        @include tablet {
          inset: auto auto 1rem 3vw;
        }
      }
    }
  }

  .comment__replies,
  .replies {
    &__reply {
      @extend .block__comment;
      margin: 2rem 6rem 1rem 0;
      width: calc(100% - 6rem);
      background-color: transparent;
      border: 1px solid $lighestHeader;
      @include tablet {
        margin-right: 3rem;
        width: calc(100% - 3rem);
      }
      @include mobile {
        margin-right: 0.5rem;
        width: calc(100% - 0.5rem);
      }
    }
  }
}
