@import "variables";
@import "mediaQueries";

.header__container {
  @include flex(center);
  column-gap: clamp(0.5rem, 2vw, 1rem);

  img {
    width: clamp(1.55rem, 4vw, 2.1rem);
  }
  h2 {
    font-weight: 600;
    color: $lightHeader;
    font-size: clamp(1.05rem, 3.25vw, 1.45rem);
  }
}
