@import "variables";
@import "mediaQueries";

.home {
  padding: 15rem 1rem 0 1rem;
  &::before {
    content: "";
    position: absolute;
    inset: 7.75rem auto auto -13rem;
    transform: rotate(53.18deg);
    height: 15rem;
    width: 15rem;
    border-radius: 1.5rem;
    background-color: $purpleColor;
    opacity: 0.5;
    outline: $SeparatorColor solid 0.5rem;
    @media screen and (min-width: 1800px) {
      display: none;
    }
    @include tablet {
      inset: 6.75rem auto auto -14rem;
    }
    @include mobile {
      inset: 6.75rem auto auto -15rem;
    }
  }
}

@keyframes three-dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
