@import "variables";
@import "mediaQueries";

.new-event {
  @include flex(center);
  position: relative;
  padding: 0 2.2rem 0 1rem;
  height: clamp(1.5rem, 4vw, 2rem);
  width: fit-content;
  border-radius: 1rem;
  background-color: $lightestBackground;
  span {
    margin-right: max(0.5rem);
    font-size: clamp(0.65rem, 3vw, 0.9rem);
  }
  &__icon {
    margin: 0;
    position: absolute;
    inset: 50% clamp(0.5rem, 2vw, 0.8rem) auto auto;
    transform: translateY(-50%);
    width: clamp(0.85rem, 3vw, 1rem);
    height: clamp(0.85rem, 3vw, 1rem);
    border-radius: 100%;
    background-color: $greenColor;
    animation: pulse 1500ms infinite;
  }
  &__title {
    margin-right: 0.5rem;
    font-weight: 700;
    color: $greenColor;
    font-size: clamp(0.75rem, 3.75vw, 1rem);
  }
}

// animations
@keyframes pulse {
  0% {
    box-shadow: rgba(9, 255, 0, 0.4) 0 0 0 0;
  }
  80% {
    box-shadow: rgba(9, 255, 0, 0) 0 0 0 7px;
  }
}
