@import "variables";
@import "mediaQueries";

.supporters {
  margin: 5rem auto 5rem auto;
  @include tablet {
    margin: 4rem auto 2.5rem auto;
  }
  .supporters__list {
    @include flex(center, space-between);
    margin-top: clamp(2.5rem, 4vw, 4rem);
    position: relative;

    img {
      height: 4rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 7.5rem;
      z-index: 2;
      height: 100%;
    }
    &::before {
      inset: 0 auto auto 0;
      background: linear-gradient(90deg, $background, transparent);
    }
    &::after {
      inset: 0 0 auto auto;
      background: linear-gradient(90deg, transparent, $background);
    }

    @media screen and (max-width: 1289px) {
      @include flex(center, center);
      gap: 4rem 3rem;
      flex-wrap: wrap;
    }

    .swiper-slide {
      @include center;
      padding: 0 5rem !important;
      width: fit-content !important;
      max-width: 100%;
      @include mobile {
        width: 100% !important;
      }
    }

    @include tablet {
      &.slider {
        display: flex;
        .swiper-slide {
          @include flex(center, center);
          img {
            width: 60%;
          }
        }
      }
    }
  }
}
