@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  direction: rtl;
  scroll-behavior: smooth;
}

.bg-primary-3 {
  background: linear-gradient(180deg, #684fff 0%, #b871fe 100%);
}

.link-badge {
  position: relative;
}

.link-badge::after,
.link-badge::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 2px;
  width: 100%;
  border-radius: 2rem;
  background-color: #684fff;
  animation: stretch 300ms;
}

.link-badge::after {
  bottom: 1px;
}

.link-badge::before {
  top: 1px;
}

@keyframes stretch {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.three-dots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comments-background {
  background-image: url("../public/comments-background.svg");
  background-position: center;
  background-size: cover;
}
.comments-three-dots {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* limit to 3 lines */
}

.header-three-dots {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* limit to 2 lines */
}
.email-settler-background {
  background: url("../public/email-settler-backgorund.svg"), linear-gradient(180deg, #684fff 0%, #b871fe 100%);
  background-position: center;
  background-size: cover;
}
.footer-background {
  background: url("../public/footer-background.svg");
  background-position: center;
  background-size: contain;
}
.customize-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.customize-scrollbar::-webkit-scrollbar-track {
  width: 4px;
  background: transparent;
  overflow: hidden;
}
.customize-scrollbar::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 5rem;
}
.customize-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #684fff;
}
.swiper-slide {
  width: 50%;
}

.swiper-slide:nth-child(2n) {
  width: 20%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
.trans {
  transform: translateX(-100%);
}

.swiper-button-next,
.swiper-button-prev {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white !important;
  font-size: 0.75rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #684fff;
  font-weight: 900 !important;
  border-radius: 100%;
  opacity: 80%;
}

@media screen and (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    width: 1.5rem !important;
    height: 1.5rem !important;
    color: white !important;
    font-size: 0.5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #684fff;
    font-weight: 900 !important;
    border-radius: 100%;
    opacity: 80%;
  }
}
